.App{
    margin-top :100px;
  }
  
  .header{
    display: flex;
     width :90vw;
     margin-inline: auto;
     justify-content: space-between;
     align-items: center;
  }
  
  
  .typecontent, .header{
      margin: 30px 100px;
      padding: 20px;
  }
  
  .stylebtn{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .dwnbtn{
    margin: 5px 5px;
    border-radius: 5px;
  }
  
  .styleFooter{
    display:flex;
    flex-direction: row;
   }
  .App{
    background-color: black;
    color:white;
  }